[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
flake8 = "*"
pytest-cov = "*"
mypy = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
flake8-junit-report = "*"
aiofiles = "*"
ipdb = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
pytest-asyncio = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"
